{% extends 'basefront.html.twig' %}

{% block title %}Ajouter une Playlist{% endblock %}

{% block body %}
<h1>Ajouter une nouvelle Playlist</h1>

{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.name, 'Nom') }}
        {{ form_widget(form.name, {attr: {class: 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, {attr: {class: 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>
    {{ form_widget(form.submit, {attr: {class: 'btn btn-success'}}) }}
{{ form_end(form) }}

<a href="{{ path('admin.playlists') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
